<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lerobot_101_6_salut">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lerobot_101_6_salut urdf file -->
    <xacro:include filename="$(find lerobot_101_6_salut_description)/urdf/lerobot_101_6_salut.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="lerobot_101_6_salut.ros2_control.xacro" />


    <xacro:lerobot_101_6_salut_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
